$DefaultWhite: #ccedfac9;
$DefaultDarkPurple: #4f42dd;
$Red: hsl(0, 100%, 17%);
$Black: hsl(0, 0%, 0%);
$DefaultFontSize: clamp(1rem, 2vw, 2rem);

@mixin defaultsetup{
    align-content: center;
    font-size: $DefaultFontSize;
    animation: ColorAnimation infinite 1s ease-in-out alternate-reverse;
}

@keyframes ColorAnimation {
    from {
        color: $Black;
        filter: drop-shadow(calc(#{$DefaultFontSize}*.05) calc(#{$DefaultFontSize}*.05) calc(#{$DefaultFontSize}*.05) $DefaultWhite);
    }
    to {
        color: $DefaultWhite;
        /*font-size: calc(#{$DefaultFontSize}*1.5);*/
        filter: drop-shadow(calc(#{$DefaultFontSize}*.05) calc(#{$DefaultFontSize}*.05) calc(#{$DefaultFontSize}*.05) $Black);
    }
}
@keyframes logospin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#root {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: $DefaultDarkPurple;
}

#App {
    max-width: 100%;
    height: 100%;
    align-items: center;
    background-color: $Black;
}

#App {
    div{
        h5 {
            @include defaultsetup;
            align-items:space-around;
        }
    }
}

#root {
    #App {
        img {
        animation: logospin infinite 5s ease-in-out 1s alternate-reverse;
        height: 6em;
        padding: 1.5em;
        will-change: filter;
        transition: filter 300ms;
    
        img:hover {
            filter: drop-shadow(0 0 2em $DefaultDarkPurple);
            }
        }
    }
}